{% extends 'core/base.html' %}

{% block content %}

<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="card-title" style="width: 25rem;">
                    <h3>Your short url is ready✅👇</h3>
                </div>
                <div class="cart-text">
                    <strong>Short url: </strong><a href="{{short_url}}">{{short_url}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}